/Fancatstic Four/nbproject/private/
/Fancatstic Four/build/
/AI_Classifier/build/
AI_Classifier/nbproject/private/private.xml
AI_Classifier/nbproject/private/private.xml
AI_Classifier/nbproject/private/private.xml